<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .form-container {
        text-align: center; /* Center aligns content inside */
        margin-top: 20px; /* Adjust spacing as needed */
    }
    </style>
</head>
<body>
	<style>

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
<div class="form-container">
<h3>clothes!</h3>
<form action="\home" method="GET">
	<input type="submit" value = "go back">
</form>

<a href="https://www.pinterest.com/pin/155303887642750194/">
  <img src="../static/clothes.jpg" style="width:400px;height:600px;">
</a>
<p>If you want to say a something without saying it</p>

<a href="https://www.pinterest.com/pin/727049933623401542/">
  <img src="../static/clothes2.jpg" style="width:400px;height:600px;">
</a>
<p>a love that will go anywhere</p>


<a href="https://www.pinterest.com/pin/79235274675178465/">
  <img src="../static/clothes1.jpg" style="width:400px;height:600px;">
</a>
<p>The most unique socks in the world</p>

</body>
</html>