<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		
	</title>
	    <style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .form-container {
        submit-align: center; 
        margin-top: 20px; 
    }

    body {
    	background-image: url('static/valentine.jpg');
    	background-repeat: no-repeat;
    	background-attachment: fixed;  
    	background-size: cover;
    }

    </style>

</head>
<body>
	<h5>SIGNUP</h5>
	<a href="/login"> or sigh in!</a>
<form action="/" method="POST">
	<input type="text" name="email" placeholder="your email">
	<br>
	<input type="text" name="username" placeholder="your username">
	<br>
	<input type="text" name="passwored" placeholder="your passwored">
	<input type="submit" value = "take me to see gifts!">
</form>

</body>
</html>