<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		
	</title>


<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .form-container {
        text-align: center; /* Center aligns content inside */
        margin-top: 20px; /* Adjust spacing as needed */
    }
    </style>
</head>
<body>
	<style>

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
<div class="form-container">
<h3>wrappers!</h3>
<form action="\home" method="GET">
	<input type="submit" value = "go back">
</form>

<a href="https://www.pinterest.com/pin/727049933623402071/">
  <img src="../static/wrappers1.jpg" style="width:400px;height:600px;">
</a>
<p>No more boring brown wrappers, all you need is a pen and a little creativity!</p>

<a href="https://www.pinterest.com/pin/727049933623402322/">
  <img src="../static/wrappers2.jpg" style="width:400px;height:600px;">
</a>
<p>For flower lovers a beautiful and special wrapper </p>


<a href="https://www.pinterest.com/pin/727049933623408939/">
  <img src="../static/wrapper3.jpg" style="width:400px;height:600px;">
</a>
<p>important dates don't have to be on a birthday greeting card</p>

</body>
</html>